.form-conatiner-trabajo{
  min-width: 800;
  margin: 0em auto;
  
}

.container-crear {
  display: flex;
  padding: 1em; 
  text-align: center;
  justify-content: center;
}

.images {
  display: flex;
  padding: 1em;
}

.descripcion-trabajo{
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  min-height: 8em ;
  max-height: 16em ;
  padding: 1em;
  margin: 2em auto;
  min-width: 95%;
  max-width: 95%;
}

.img-form{
  margin-top: 1em;
}

.precio-form{
  margin-bottom: 1em;
}
