.containerNav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    
}

.nav{
  margin-bottom: 1em;
}



/* .imglognav{
    border: solid 3px rgb(192, 192, 192);
    border-radius: 50%;
    <img src={foto} alt='not found' height='50px' weight='50px' className='imglognav'/>
} */

.linkNavReg{
    color:white;
    
}

.nombreLogo{
    font-size: 2.5em;
    animation-name: atechnas;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    color: white;
    z-index: -1;
}

@keyframes atechnas{
    

    0% {
        text-shadow: 0.05em 0 0 #9225d7,
          -0.05em -0.025em 0 #3bfd92,
          -0.025em 0.05em 0 #a412ff;
      }
      
      15% {
        text-shadow: -0.05em -0.025em 0 #9225d7,
          0.025em 0.025em 0 #3bfd92,
          -0.05em -0.05em 0 #a412ff;
      }
      
      50% {
        text-shadow: 0.025em 0.05em 0 #9225d7,
          0.05em 0 0 #3bfd92, 
          0 -0.05em 0 #a412ff;
      }
      
      100% {
        text-shadow: -0.025em 0 0 #9225d7,
          -0.025em -0.025em 0 #3bfd92,
          -0.025em -0.05em 0 #a412ff;
      }
}


ul{
  list-style: none;
  
}


.nav li Link{
background-color: #000;
color: #fff;
text-decoration: none;
padding: 10px 15px;
display: block;
}
.nav li Link:hover{
  background-color: #434343;
   
}
.nav >li{
  float: left;

}

.nav li ul{ 
  display: none;
  position: relative;
  min-width: 140px;
}

.nav li:hover > ul{
  display: contents;
  transition: ease 0.3s;
}
