.containerNav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    
}

.nav{
  margin-bottom: 1em;
}

.linkNavReg{
    color:white;
    
}

.nombreLogo{
    font-size: 2.5em;
    animation-name: atechnas;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    color: white;
    z-index: -1;
}

@keyframes atechnas{
    

    0% {
        text-shadow: 0.05em 0 0 #9225d7,
          -0.05em -0.025em 0 #3bfd92,
          -0.025em 0.05em 0 #a412ff;
      }
      
      15% {
        text-shadow: -0.05em -0.025em 0 #9225d7,
          0.025em 0.025em 0 #3bfd92,
          -0.05em -0.05em 0 #a412ff;
      }
      
      50% {
        text-shadow: 0.025em 0.05em 0 #9225d7,
          0.05em 0 0 #3bfd92, 
          0 -0.05em 0 #a412ff;
      }
      
      100% {
        text-shadow: -0.025em 0 0 #9225d7,
          -0.025em -0.025em 0 #3bfd92,
          -0.025em -0.05em 0 #a412ff;
      }
}


.panelcontrol-text{
  font-size: 2.5em;
  color: white;
  z-index: -1;
}