.card{
    height: 175px;
    width: 350px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
   
}

.front,
.back{
    height: 100%;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    
}

.front{
    background: linear-gradient(#9225d7, #52be84);
    z-index: 2;
    backface-visibility: hidden;
}

.back{
    background: linear-gradient(#f8da61, #ff5acd);
    z-index: 1;
    transform: rotateY(180deg);
    display: flex; 
    justify-content: center;
}

.container:hover .card{
    transform: rotateY(180deg);
}

.container{
    perspective: 1000px;
    width: 350px;
    
}

.titulo-card{
    margin: 0;
    margin-left: 0.5em;
}

.precio-card{
    font-size: 1.5em;
    margin-top: 0;
    margin-left: 0.7em;
}

.img-cardpost{
    width: 350px;
    height: 80px;
    background-image: url('https://th.bing.com/th/id/OIP.345yCLH1wzUp7dsN9edPQAHaD4?pid=ImgDet&rs=1');
    border-radius: 10px 10px 0px 0px;
}

.boton-cardpost{
    margin: 0.5em;
    border-style: none;
    background: linear-gradient(#9225d7, #d63be4);
    padding: 0.5em;
    border-radius: 0.5em;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.377);
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.boton-cardpost:active{
    background: #d63be4;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.349);

}