.container-checkbox{
    /* display: flex; */

}
.container-checkbox-label{
    /* display: flex; */
    flex-direction: column;
    align-items: left;
}
.container-checkbox-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-input{
    margin: 5px;
}

.h3-all{
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}