.contenedorCard{
    text-align: center;
    background: linear-gradient(#030303da, #9325d717);
    backdrop-filter: blur(2px);
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.76);
    justify-content:space-between;
    min-width: 20em;
    border-right: solid 2px #9225d7;
    border-bottom: solid 2px #9225d7;
    
}

.imgCard{
    min-height: 100px;
    min-width: 100px;
    border-radius: 50%;
    
}

.nombreCard{
    font-size: 2em;
}

.botonDetalleCard{
    border-style: none;
    background-color: #9225d7;
    font-weight: bold;
    color: white;
    padding: 0.5em;
    font-size: 15px;
    border-radius: 0.5em;
    margin-top: 2em;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.726);

}