.contenedorCard{
    text-align: center;
    background: rgba(0, 0, 0, 0.63);
    backdrop-filter: blur(5px);
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.76);
    justify-content:space-between;
    min-width: 18em;
    border-right: solid 2px #9225d7;
    border-bottom: solid 2px #9225d7;
    text-align: left;
    
}

.imgCard{

    min-height: 120px;
    min-width: 120px;
    max-height: 120px;
    max-width: 120px;
    border-radius: 1em;
   
    
}

.technologies{
    color: rgba(255, 255, 255, 0.596);
}

.nombreCard{
    font-size: 2em;
}

.botonDetalleCard{
    border-style: none;
    background-color: #9225d7;
    font-weight: bold;
    color: white;
    padding: 0.5em;
    font-size: 15px;
    border-radius: 0.5em;
    margin-top: 2em;
    box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.753);

}